h1 {
    text-align: center;
    color:red;
    text-shadow: 4px indigo;
}

.question {
    color: rgb(29, 13, 99);
}

#italic {
    color:salmon
}

nav {
    background-color: skyblue;
    text-align: center;
}

a {
    text-decoration-line: none;
}

nav ul {
    list-style: none;
}

nav li {
    display: inline-block;
    padding: 20px;
}

.container {
    border: 10px dashed seagreen;
    margin: 50px 10px 50px 0px;
    padding: 15px 10px 15px 20px;
}

.box {
    height: 200px;
    width: 200px;
    background: blue;
    margin: 10px;    
}

@keyframes fadeMe {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

#box1 {
    animation-name: fadeMe;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes rotation {
    0% {transform: rotate(90deg);}
    50% {transform: rotate(180deg);}
    100% {transform: rotate(360deg);}
}

#box2 {
    animation-name: rotation;
    animation-duration: 1s;
    animation-iteration-count: 4s;
    animation-timing-function: ease-in-out;
    border-radius: 10%;
    background-image: radial-gradient(circle, purple, orange, yellow, pink, purple);
}

@keyframes getBigger {
    0% {transform: scale(1);}
    50% {transform: scale(2);}
    0% {transform: scale(.5);}
}

#box3 {
    animation: getBigger infinite 8s ease-in;
    border-radius: 50%;
    background: orange;
}

@keyframes changeColors {
    0% {background-color: gray;}
    25% {background-color: purple;}
    50% {background-color: orange;}
    75% {background-color: green;}
    100% {background-color: violet;}
}

#box4 {
    animation: changeColors 3s 2s forwards;
}

@keyframes moveBox {
    0% {left: 0px; top: 0px;}
    25% {left: 100px; top: 0px;}
    50% {left: 100px; top: 200px;}
    75% {left: 0px; top: 200px;}
    100% {left: 0px; top: 0px;}
}

#box5 {
    position: relative;
    background-color: tomato;
    animation: moveBox 5s 3s;
}

#box6 {
    top: 10px;
    left: 20px;
    position: relative;
}

html {
    background-image: radial-linear (gray, white);
}

.circleImg {
    border-radius: 50%;
}

img {
    box-shadow: 8px 8px 10px 3px rgb(128, 128, 128);
}

.flex {
    display: flex;
    border: 3px solid gray;
    padding: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

.contact-box {
    display: flex;
    justify-content: center;
}

.row {
    margin: 20px;
}

.input-field {
    margin: 10px;
}

form input, textarea, button {
    display: block;
    margin: 30px;
}

.wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(5, [col] 20% ) ;
    grid-template-rows: repeat(3, [row] auto  );
    background-color: white;
    color: #444;
  }

  .Box {
    background-color: white;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    margin-right: 40px;
    font-size: 150%;
    z-index:10;

  }

  .a {
    grid-column: col / span  2;
    grid-row: row ;
    display: flex;
    justify-content: center;
  }
  .b {
    grid-column: col 4 / span  2 ;
    grid-row: row ;
    display: flex;
    justify-content: center;
  }
  .c {
    grid-column: col / span 5 ;
    grid-row: row 2 ;
    display: flex;
    justify-content: center;
    background-image: linear-gradient(pink, yellow, purple, orange);
  }
  .d {
    grid-column: col 2 / span  1 ;
    grid-row: row 3 ;
    display: flex;
    justify-content: center;
  }

  .e {
    grid-column: col 4 / span  1 ;
    grid-row: row 3;
    display: flex;
    justify-content: center;
  }

  .f {
    grid-column: col 2 / span 3;
    grid-row: row 2  ;
    background-color: rgba(49,121,207, 0.5);
    z-index: 20;
    display: flex;
    justify-content: center;
    background-image: linear-gradient(grey, pink, yellow, orange);
  }